<body class="regbody">
 <div class="reg">
  <h1 class="h1_reg">Вход</h1>
  <form class="register_form login_form" id="login_form" method="POST" action="/login" autocomplete="off">
   <input name="email" class="input" type="email" id="email"  placeholder="email" />
   <input class="input" type="password" id="userpass" name="password" placeholder="password" required minlength="8" />
   <button class="input button" type="submit">Войти</button>
   <a href="/">Перейти на главную страницу</a>
  </form>
 </div>
</body>
