<body class="regbody">
  <div class="reg">
    <h1 class="h1_reg">Регистрация</h1>
    <form class="register_form" id="register_form" method="POST" action="/registration" autocomplete="off">
      <input name="username" class="input" type="text" id="username" placeholder="name" required minlength="4" />
      <input class="input" type="email" id="email" name="email" placeholder="email" required/>
      <input class="input" type="password" id="userpass" name="password" placeholder="password" required minlength="8" />
      <button class="input button" type="submit">Зарегистрироваться</button>
      <a href="/">Перейти на главную страницу</a>
    </form>
  </div>
</body>
